<!-- <mat-button-toggle-group [(value)]="selectedTab" (valueChange)="onValueChange($event)" aria-label="Font Style">
    <mat-button-toggle class="tab" value="list">List</mat-button-toggle>
    <mat-button-toggle class="tab" value="grid">Grid</mat-button-toggle>
</mat-button-toggle-group> -->

<button class="tab" (click)="onValueChange('list')">List</button>
<button class="tab" (click)="onValueChange('grid')">Grid</button>
<button class="tab" (click)="onValueChange('svg')">SVG</button>

<div  *ngIf="selectedTab === 'list'">
    <app-list></app-list>
</div>
<div  *ngIf="selectedTab === 'grid'">
    <app-grid></app-grid>
</div>
<div  *ngIf="selectedTab === 'svg'">
    <app-svg></app-svg>
</div>
